<div class="background" style="background-image:  url(' <%= cl_image_path("several_lunchboxes_for_colleagues_cnrlaa.jpg") %> ');" >
<div class="container">


  <div class="participations_area">
  </div>

  <ul class="friends_to_invite">
  </ul>

  <%= simple_form_for(@group) do |f| %>
    <div class="form_area">
      <%= f.input :title, placeholder: "Title", label: false  %>
      <%= f.input :all_cooks, label: 'Only cookers here:' %>
    </div>


    <div class="create_area">
      <h3>Create the group</h3>
      <%= f.button :submit, "", class: "creation_button" %>
    </div>
  <% end %>


  <div class="days_area">
  </div>


  <%= render 'shared/linker_icons' %>
  <%= render 'shared/home_linker' %>
</div>
</div>
